<?xml version="1.0" ?>


<eqr-config>
	<!-- Router configuration params -->
	<routing config-file="/home/nkigen/development/git/EQR/src/trentino.xml"
		data-dir="/home/nkigen/development/git/EQR/src/data" />

	<!-- Simulation Configurations rate is be greater than 0 Patient_inter-arrival 
		time is in milliseconds -->
	<simulation rate="0.01">
		<patients inter-arrival="900000" />
		<fires inter-arrival="900000" />
		<!-- Traffic params both in milliseconds -->
		<traffic update-period="30000" max-delay="120000" />
	</simulation>

	<!-- List of possible patient locations.(Meant to avoid putting the patients 
		in unnatural places such as inaccessible places) -->
	<patient-locations>
		<location>
			<lat>46.056332</lat>
			<lon>11.133385</lon>
		</location>
		<location>
			<lat>46.046269</lat>
			<lon>11.134965</lon>
		</location>
		<location>
			<lat>46.0846000</lat>
			<lon>11.11145900</lon>
		</location>
	</patient-locations>
	<ambulance-locations>
		<location>
			<num>3</num>
			<lat>46.071944</lat>
			<lon>11.119444</lon>
		</location>
	</ambulance-locations>
	<fire-locations>
		<location>
			<lat>46.0443813625</lat>
			<lon>11.1295622198</lon>
		</location>
	</fire-locations>
	<fire-engine-location>
		<location>
			<num>2</num>
			<lat>46.048079</lat>
			<lon>11.127478</lon>
		</location>
	</fire-engine-location>
	<hospital-locations>
		<location>
			<lat>46.0451711</lat>
			<lon>11.1330579</lon>
		</location>
	</hospital-locations>
</eqr-config>
